

/* GLOBAL ----------------------------------------------------------------*/

@font-face {
    font-family: "BaiJamjuree-Bold";
    src: url(../assets/fonts/BaiJamjuree-Bold.ttf);
}

@font-face {
    font-family: "BaiJammjuree-Regular";
    src: url(../assets/fonts/BaiJamjuree-Regular.ttf);
}

@font-face {
    font-family: "BaiJammjuree-Light";
    src: url(../assets/fonts/BaiJamjuree-Light.ttf);
}

body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "BaiJammjuree-Regular";
    background-color: #000700;
    overflow-x: hidden;
}

.init_hidden {
    visibility: hidden;
}

:root {
    --main: var(#F67599);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin-inline-start: 0px;
    padding-inline-start: 20px;
}

.align-left {
    text-align: left;
}

span {
    display: inline-block;
}

#index section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 1200px;
}

.gradient-sections {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.725);
    /* background: linear-gradient(transparent, black); */
}

.text-sections {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 1200px;
    font-size: 18px;
    /* line-height: 30px; */
    letter-spacing: 1px;
    /* background-color: teal; */
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    position: absolute;
}

.gradient {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 2;
    background: linear-gradient(rgb(13, 13, 14), transparent);
}

.page-title {
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 1200px;
    text-align: center;
    letter-spacing: 10px;
}

.btn {
    padding: 8px 40px 8px 40px;
    background-color: transparent;
    color: #F67599;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    /* transition: 0.3s; */
    border: #F67599 1px solid;
    border-radius: 50px;
    font-family: "BaiJamjuree-Regular";
}

.btn:hover {
    background-color: #F67599;
    color: black;
}

.section-heading {
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 70px;
    font-family: "BaiJamjuree-Bold";
}

.subtitle {
    font-family: "BaiJammjuree-Light";
    font-size: 25px;
    margin-bottom: 40px;
    visibility: hidden;
}

.description {
    font-size: 26px;
    margin-bottom: 20px;
}

p {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

/* LOADING SCREEN --------------------------------------- */

.loading-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000700;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    font-size: 20px;
    font-family: "BaiJamjuree-Bold";
}

.loading-screen.hide {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.loading-screen.hide {
    display: none;
}


/* HEADER / NAV -------------------------------------------------------------------- */

.main-wrapper {
    min-height: calc(100% - 90px);
    width: 100%;
    /* background-color: white; */
}

header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

header a {
    color: white;
}

.banner {
    width: 100%;
    min-height: calc(70px + 20px);
    background-color: transparent;
    /* border-bottom: 1px solid rgb(192, 192, 192); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    /* max-width: 1200px; */
}

a.logo img {
    height: 40px;
    margin-left:80px;
}

nav {
    min-height: calc(70px + 20px);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: teal; */
    margin-right: 40px;
}

.site-nav-links {
    height: 100%;
}

.site-nav-link {
    margin-right: 40px;
    text-decoration: none;
    transition: 0.3s;
}

.site-nav-link:hover {
    border-bottom: 1px solid white;
}

/* SECTIONS ----------------------------------------------------------- */

section {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 100%;
}

.main-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}



/* PLATFORM SECTION */

.platform-section {
    height: 80vh;
}

.platform-text-section {
    /* background-color: tomato; */
    width: 90%;
    flex-direction: row !important;
    height: 60%;
    max-width: 2000px;
}

.platform-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: teal; */
}

.platform-text .section-heading {
    text-align: left;
}

.platform-image {
    width: 45%;
    margin-right: 30px;
}

.bottom-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, #000700);
}

.top-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(#000700, transparent);
}

.list {
    font-size: 15px;
}

.list-el {
    /* background-color: teal; */
    font-family: "BaiJamjuree-Bold";
}

.sub-el {
    visibility: hidden;
    list-style: none;
    font-size: 14px;
}

/* FEATURES SECTION */

.features-section {
    height: 50vh !important;
    min-height: 600px;
    justify-content: flex-start !important;
    background-color: white;
    background-attachment: fixed;
    background-image: url("../assets/images/map_1.jpg");
}

.features-text-section {
    /* background-color: tomato; */
    width: 90%;
    height: 90%;
    /* color: #000700; */
    color: white;
}

.features-section .section-heading {
    margin-bottom: 50px;
}

.feature-description {
    font-size: 15px;
    margin-bottom: 40px;
}

.features-squares {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 330px;
}

.feature {
    width: 300px;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.feature_image {
    width: 250px;
    /* background-color: pink; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.feature_image_1 {
    background-image: url(../assets/images/edificios.jpg);
}

.feature_image_2 {
    background-image: url(../assets/images/city-data.jpg);
}

.feature_image_3 {
    background-image: url(../assets/images/futuristic-difusion.webp);
}


/* TARGET AUDIENCE SECTION */

.target-audience-section {
    background-color: white;
}

.target-audience-section > * {
    color: black;
}

.target-heading {
    margin-bottom: 60px;
}

.target-container {
    /* background-color: teal; */
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.target-btns {
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.target-btn {
    width: 200px;
    height: 100%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: #000700 1px solid;
    cursor: pointer;
    /* transition:  0.3s; */
}

.target-btn > * {
    pointer-events: none;
}

.target-btn:hover {
    background-color: rgb(240, 240, 240);
}

.target-icon {
    height: 50%;
    margin-right: 10px;
}

.target-description {
    width: 100%;
    height: calc(100% - 60px);
    /* background-color: tan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.target {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.target-text {
    width: 40%;
    height: 100%;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: tan; */
    margin-left: 50px;
}

.target-p {
    text-align: left;
}

.target-image {
    width: 500px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.retailer-image {
    background-image: url(../assets/images/store.jpg);
}

.investor-image {
    background-image: url(../assets/images/investment.jpg);
    background-position: right;
}

.developer-image {
    background-image: url(../assets/images/developer-image.jpg);
    background-position: left;
}

.broker-image {
    background-image: url(../assets/images/broker-image.jpg);
    background-position: right;
}

.target-p {
    margin-bottom: 40px;
}

.target-cta {
    padding: 8px 40px 8px 40px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
    background-color: #F67599;
    border: #F67599 1px solid;
    border-radius: 50px;
    font-size: 20px;
    font-family: "BaiJamjuree-Regular";
}

.target-cta:hover {
    background-color: transparent;
    color: #F67599;
}

.active {
    background-color: rgb(210, 210, 210);
}

/* PLATFORM CAPABILITIES */

.capabilities-section {
    /* background-color: teal; */
}

/* SECTION BACKGROUNDS */

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}


.main-section {
    background-image: url(../assets/images/latam_1.jpg);
}


/* SCROLL ICON */

.scroll-for-more {
    width: 200px;
    height: 130px;
    position: absolute;
    bottom: 0px;
    /* background-color: teal; */
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.scroll-for-more p {
    font-size: 15px;
}

.arrow {
    width: 30%;
}


/* FOOTER -------------------------------------------------------- */

footer {
    width: 100%;
    height: 50vh;
}


/* MOBILE MENU --------------------------------------------------- */

.mobile-menu {
    position: fixed;
    top: 0;
    z-index: 11;
    right: -400px;
    width: 60%;
    height: 100vh;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-family: "D-DIN";
}

.close-mobile-menu {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 35px;
}

.mobile-menu-btn {
    display: none;
    width: 35px;
    margin-right: 40px;
}

.nav-links-mobile {
    width: 90%;
    position: absolute;
    top: 70px;
    min-height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-link {
    font-size: 20px;
    margin-bottom: 10px;
}


/* MEDIA QUERIES ------------------------------------------------ */


/* @media (max-width: 600px) {

    .mobile-menu-btn {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }

    a.logo img {
        height: 40px;
        margin-left: 24px;
    }

    .desktop-link {
        display: none;    
    }

    .text-sections {
        width: 80%;
        bottom: 50px;
        left: 15px;
        z-index: 8;
        font-size: 14px;
    }

    .tecnologia-section {
        background-position: left;
    }

    .smart-people-section {
        background-position: 70%;
    }


    .section-heading {
        font-size: 30px;
        letter-spacing: 4px;
    }

    .btn {
        padding: 2px 40px;
        border-radius: 50px;
        font-size: 10px;
    }

} */


